body {
	left: 0px;
	top: 0px;
	margin: 0px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

input {
	readonly:expression(this.readOnly=true);
}

.backgroundDiv {
	background-image: url(../../Image/CN/Bkimg_800.png);
	position: absolute;
	width: 800px;
	height: 600px;
	z-index: -1;
}

.dateDiv {
	position: absolute;
	left: 30%;
	top: 2%;
	font-family: 微软雅黑;
	font-size: 19px;
	color: red;
	text-align: center;
}

.zeroStateDiv {
	position: absolute;
	left: 0px;
	z-index: -1;
}

.buttonLeft {
	position: absolute;
	width: 167px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
	left: 26px;
}

.buttonLeftCommonStyle {
	position: absolute;
	width: 167px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
	left: 26px;
}

.buttonLeftForLongText {
	position: absolute;
	width: 167px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
	left: 26px;
}

.buttonLeftForTwoLines {
	position: absolute;
	width: 167px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
	left: 26px;
}

.buttonRight {
	position: absolute;
	width: 167px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
	left: 6px;
}

.buttonRightCommonStyle {
	position: absolute;
	width: 167px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
	left: 6px;
}

.buttonRightForLongText {
	position: absolute;
	width: 167px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
	left: 6px;
}

.buttonRightForTwoLines {
	position: absolute;
	width: 167px;
	top: 5px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
	left: 6px;
}

.mainDivOneLine {
	margin-top: 115px;
	margin-bottom: 75px;
	font-family: 微软雅黑;
	font-size: 32px;
	font-weight: bold;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
}

.mainDivOneLineCommonStyle {
	margin-top: 115px;
	margin-bottom: 75px;
	font-family: 微软雅黑;
	font-size: 32px;
	font-weight: bold;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
}

.mainDivTwoLines {
	margin-top: 116px;
	margin-bottom: 28px;
	font-family: 微软雅黑;
	font-size: 32px;
	font-weight: bold;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
}

.mainDivThreeLines {
	margin-top: 115px;
	margin-bottom: 75px;
	font-family: 微软雅黑;
	font-size: 32px;
	font-weight: bold;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
}

.mainDivMiddle {
	margin-top: 220px;
	font-family: 微软雅黑;
	font-size: 32px;
	font-weight: bold;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
}

.mainDivUpperMiddle {
	margin-top: 173px;
	font-family: 微软雅黑;
	font-size: 32px;
	font-weight: bold;
	color: yellow;
	text-align: center;
	letter-spacing: 1pt;
}

.mainDivUpperMiddleLeft {
	position: absolute;
	margin-top: 143px;
	font-family: 微软雅黑;
	font-size: 32px;
	font-weight: bold;
	color: black;
	text-align: left;
	letter-spacing: 1pt;
	left: 16px;
}

.inputDiv {
	margin-top: 20px;
	text-align: center;
}

.inputDivRightAlign1 {
	margin-top: 20px;
	text-align: right;
	width: 66%;
}

.inputDivRightAlign2 {
	margin-top: 20px;
	text-align: right;
	width: 75%;
}

.inputPrompt {
	height: 100%;
	margin-bottom: 8px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	font-weight: bold;
}

.inputPromptForInquiryResult {
	height: 100%;
	margin-bottom: 8px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: yellow;
	font-weight: bold;
}

.inputTextLeftAlign {
	font-family: 微软雅黑;
	font-size: 23px;
	font-weight: bold;
	color: black;
	text-align: Left;
}

.inputTextCenterAlign {
	font-family: 微软雅黑;
	font-size: 23px;
	font-weight: bold;
	color: black;
	text-align: center;
}

.inputTextRightAlign {
	font-family: 微软雅黑;
	font-size: 23px;
	font-weight: bold;
	color: black;
	text-align: right;
}

.promptDiv {
	margin-top: 20px;
	text-align: center;
}

.promptNormalText {
	font-family: 微软雅黑;
	font-size: 20px;
	color: yellow;
}

.promptNormalTextYK {
	font-family: 微软雅黑;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.promptKeyText {
	font-family: 微软雅黑;
	font-size: 20px;
	color: red;
}

.videoDiv {
	margin-top: 30px;
	text-align: center;
}

.CounterDiv {
	position:absolute;
	top: 4px;
	right: 20px;
	font-family: 微软雅黑;
	font-size: 46px;
	font-weight: bold;
	color: red;
	text-align: right;
	letter-spacing: 1pt;
}

.CounterNum {
	width:33px;
	text-align:right;
	padding:2px;
}

.CounterTable {
	table-layout:fixed;
	height:100%;
	border-collapse:collapse;
	border:solid 0px black;
}

.marqueeDiv {
	position: absolute;
	left: 210px;
	right: 210px;
	top: 550px;
	font-family: 微软雅黑;
	font-size: 25px;
	color: red;
	text-align: center;
	letter-spacing: 1pt;
}