<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCAT Configuration Tool</title>
    <script src="../../js/vue.min.js"></script>
    <link rel="stylesheet" href="../../css/ConfigurationTool/configTool.css">

    <style>
        #Table1 .table-label {
            width: 30%;
        }

        #Table1 #Select1 {
            width: 78%;
        }

        #Table1 #Input1{
            width: 75%;
        }
    </style>
</head>

<body>
    <div id="app" currentSetting="ScreenSetting">
        <div class="header"></div>

        <div class="sidebar" ref="sidebar">
            <div class="menu-top">
                <img :src="profileImg" alt="Profile Image">
                <h2>{{selectedATMType || 'XXX'}}</h2>
                <button @click="showModal">⇋</button>
            </div>
            <div class="menu-containers" v-for="menu in menus">
                <div class="menu-container">
                    <div class="setting-category" @click="toggleDropdown(menu.id)">
                        <span class="item-icon">📦</span>
                        <span>{{ menu.label }}</span>
                        <span class="dropdown-arrow" :class="{ 'open': menu.isDropdownOpen }">></span>
                    </div>
    
                    <div class="setting-item" v-show="menu.isDropdownOpen" :id="item.id"  :class="{ 'active': item.id === setting }"
                      v-for="item in settings[menu.id]" :key="item.id"  >
                      <div class="setting-item-parent" @click="toggleSelection(item)" :style="getStyle(item.id)">
                        <span class="item-icon">{{ item.icon }}</span>
                        <span>{{ item.label }}</span>
                        <span class="dropdown-arrow" :class="{ 'open': item.isDropdownOpen }">></span>
                      </div>
    
                      <div class="setting-item-child" v-if="itemChilds.owner === item.id && itemChilds.content" v-show="item.isDropdownOpen" :id="childItem" :style="getStyle(childItem)" :class="{ 'active': childItem === itemChild }"
                        v-for="childItem in itemChilds.content" :key="childItem"  @click="toggleChildSelection(childItem)">
                        <span class="item-icon">-</span>
                        <span>{{ childItem }}</span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="menu-container">
                <div class="setting-category">
                    <span class="item-icon"><</span>
                    <span @click="getPage(backPage)">Back</span>
                </div>
            </div>
        </div>
        <div class="content">
            <div>
                <h2 id="content-Configuration">Configuration Setting</h2>
                <table id="Table1">
                    <tr>
                        <td class="table-label">
                            <Label type="text">Initial Screen Number</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" v-model="settingData.Configuration.InitialScreen" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Zero Screen Number</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" v-model="settingData.Configuration.ZeroScreen" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Background Color</Label>
                        </td>
                        <td>
                            <select id="Select1" type="select" v-model="settingData.Configuration.BackgroundColor">
                                <option value="1">black</option>
                                <option value="2">red</option>
                                <option value="3">green</option>
                                <option value="4">yellow</option>
                                <option value="5">blue</option>
                                <option value="6">magenia</option>
                                <option value="7">cyan</option>
                                <option value="8">white</option>
                                <option value="9">transparent</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Text Background Color</Label>
                        </td>
                        <td>
                            <select id="Select1" type="select" v-model="settingData.Configuration.TextBackgroundColor">
                                <option value="1">black</option>
                                <option value="2">red</option>
                                <option value="3">green</option>
                                <option value="4">yellow</option>
                                <option value="5">blue</option>
                                <option value="6">magenia</option>
                                <option value="7">cyan</option>
                                <option value="8">white</option>
                                <option value="9">transparent</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Foreground Color</Label>
                        </td>
                        <td>
                            <select id="Select1" type="select" v-model="settingData.Configuration.ForegroundColor">
                                <option value="1">black</option>
                                <option value="2">red</option>
                                <option value="3">green</option>
                                <option value="4">yellow</option>
                                <option value="5">blue</option>
                                <option value="6">magenia</option>
                                <option value="7">cyan</option>
                                <option value="8">white</option>
                                <option value="9">transparent</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Switch Delay</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" size="5" v-model="settingData.Configuration.SwitchDelay" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Last Screen</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" size="5" v-model="settingData.Configuration.LastScreen" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Amount Template Separator</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" size="5" v-model="settingData.Configuration.AmountTemplateSeparator" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Disable Taskbar</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" size="5" v-model="settingData.Configuration.DisableTaskbar" />
                        </td>
                    </tr>
                </table>
            </div>
            <div v-for="font in settingData.FontCfg" :key="font.key">
                <h2 :id="`content-Font-${font.key}`"><span>Font-</span>{{font.key}}<span> Setting</span></h2>
                <table id="Table1">
                    <tr>
                        <td class="table-label">
                            <Label type="text">Name</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" v-model="font.value" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Height</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" v-model="font.height" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">Width</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" v-model="font.width" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">TopIndent</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" v-model="font.topIndent" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">WordSpace</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" v-model="font.wordSpace" />
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label">
                            <Label type="text">LeftIndent</Label>
                        </td>
                        <td>
                            <input id="Input1" type="text" v-model="font.leftIndent" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="buttons buttons-bottom"></div>
        </div>

        <div class="modal-bg" v-if="isModalVisible" @click="hideModal"></div>
        <div class="modal" v-if="isModalVisible">
            <h3>ATM Type</h3>
            <select v-model="currentSelectType">
                <option v-for="type in atmTypes" :key="type" :value="type">{{ type }}</option>
            </select>
            <div class="buttons">
                <button class="btn cancel" @click="hideModal">Cancel</button>
                <button class="btn" @click="confirmSelection(true)">Confirm & Apply</button>
                <button class="btn" @click="confirmSelection(false)">Confirm & No Apply</button>
            </div>
        </div>

        <div v-if="showAlertBox" class="custom-alert">
            <span>{{ alertMessage }}</span>
            <div class="buttons">
                <button @click="closeAlert">OK</button>
            </div>     
        </div>
        <div v-if="isConfirmVisible" class="custom-confirm">
            <span>{{ confirmMessage }}</span>
            <div class="buttons">
                <button @click="cancelConfirmation">Cancel</button>
                <button @click="confirmAction">Confirm</button>
            </div>
        </div>

    </div>
    <script src="../../js/ConfigurationTool/configTool.js"></script>
</body>

</html>