<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../../js/vue.min.js"></script>
  <script src="../../js/grg-ui.min.js"></script>
  <script src="../../js/vue-i18n.js"></script>
  <script src="../../js/jquery-3.7.0.js"></script>	<script src="../../js/class/layer/layer.js"></script>	<script src="../../js/index.js"></script>
  <script src="../../js/coreScript.js"></script>
  <script src="../../js/ibank.js"></script>
  <link rel="stylesheet" href="../../css/grg-ui.min.css">
  <link rel="stylesheet" href="../../css/animate.grg.css">
  <link rel="stylesheet" href="../../css/ibank.css">
  <style>
    .grg-main {
      display: flex;
      justify-content: space-between;
    }

    .open-card-right-box {
      visibility: hidden;
    }

    .take-card-img {
      margin-top: 80px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div id="grg-header" class="grg-header">
    </div>
    <div id="grg-main" class="grg-main">
      <!-- <div class="count-down">
        <div class="count-down-2">60</div>
      </div> -->
      <div class="step-box">
        <div v-for="(item, index) in stepList" class="step-item">
          <div class="step-left">
            <div
              :class='[item.status == "finish" ? "step-circle-finish" : "step-circle", item.status == "active" ? "step-circle-active" : "step-circle"]'>
              <img v-if="item.status == 'finish'" src="../../images/img_2.4/gou.png" alt="">
              <span v-else>{{ index + 1 }}</span>
            </div>
            <div :class='[item.status == "finish" ? "step-line": "step-dotted-line"]'>
              <img class="line-arrows" v-if='item.status != "finish"' src="../../images/img_2.4/line-arrows.png" alt="">
            </div>
          </div>
          <div
            :class='[item.status == "finish" ? "step-right-finish" : "step-right", item.status == "active" ? "step-right-active" : "step-right"]'>
            {{ item.title }}</div>
        </div>
      </div>
      <div class="open-card-right-box animate_grg_fadeInRight">
        <div class="title"id="text1" ids="ids_opac_takeCard">Please Take Your Card!</div>
        <img class="take-card-img" src="" alt="">       
      </div>
    </div>
  </div>
</body>

</html>
<script>
  var app = new Base({
    i18n: i18n,
    data: {
      stepList: [{
          status: 'finish',
          title: 'Scan Passport',
        },
        {
          status: 'finish',
          title: 'Customer Info',
        },
        {
          status: 'finish',
          title: 'Sign',
        },
        {
          status: 'finish',
          title: 'Print Form',
        },
        {
          status: 'finish',
          title: 'Scan Form',
        },
        {
          status: 'finish',
          title: 'Printing Card',
        },
        {
          status: 'finish',
          title: 'User Set Password',
        },
        {
          status: 'active',
          title: 'Take Card',
        },
        {
          status: 'unFinish',
          title: 'Print Receipt',
        },
      ]
    },
    methods: {},
    computed: {},
    mounted: function () {
      let clientWidth = document.body.clientWidth;
      let deviceImg = document.querySelector('.take-card-img');
      if (clientWidth == 1920) {
        deviceImg.setAttribute('src', '../../images/img_2.4/device_img_1920/take-card.png');
      } else if (clientWidth == 1280) {
        deviceImg.setAttribute('src', '../../images/img_2.4/device_img_1280/take-card.png');
      } else {
        deviceImg.setAttribute('src', '../../images/img_2.4/device_img_1920/take-card.png');
      }
    }
  }).$mount('#app')
</script>